<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sample.css">
</head>
<body>
    <div class="dropdown">
        <input type="text" class="text02" readonly placeholder="Dropdown Menu">
        <div class="option">
            <div>HTML</div>
            <div>CSS</div>
            <div>Javascript</div>
            <div>React JS</div>
            <div>Photoshop</div>
        </div>
    </div>

    <script>
        let dropdown = document.querySelector('.dropdown');
        dropdown. onclick = function () {
        dropdown.classList.toggle( 'active');
        }
        </script>
</body>
</html>