:root {
  --PrimaryColor: #089848;
  --SecondaryColor: #151515;
  --gradientColor: linear-gradient(to right, #18bb77, #0bb76f);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: #171717;
  --textColor: #0a223d;
  --paraColor: #4d5b7c;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --grayText: #8b8b8b;
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);

  /* 
  --line-border-fill: #031b4e;
  --line-border-empty: #e0e0e0; */

  --link: #127384;

  --fontSize13: 13px;


  --font100: 100;
  --font200: 200;
  --font300: 300;
  --font400: 400;
  --font500: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-family: "Outfit", sans-serif;
}

.btn {
  padding: 5px 20px;
  border-radius: 0px;
  color: var(--whiteColor);
  z-index: 1;
  background: var(--PrimaryColor);
  position: relative;
  font-size: 16px;
  transition: all 250ms;
  overflow: hidden;
}

/* .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--blackColor);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  color: var(--whiteColor) !important;
} */

.btn:hover {
  background-color: var(--PrimaryColor);
  opacity: 0.8;
  color: var(--whiteColor);
  /* color: var(--whiteColor); */
}

/* PingMe css */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.1rem;
  color: var(--grayText);
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}



.font-size10 {
  font-size: 10px;
}
.font-size11 {
  font-size: 11px;
}
.font-size12 {
  font-size: 12px;
}

.font-size13{
  font-size: 13px;
}

.font-size14 {
  font-size: 14px;
}

.font-size16 {
  font-size: 16px;
}

.font-size20{
  font-size: 20px;
}

.font-size25{
  font-size: 25px;
}


.font-size30{
  font-size: 30px;
}

.fontWeight400{
  font-weight: 400;
}
.fontWeight500{
  font-weight: 500;
}
.fontWeight600{
  font-weight: 600;
}
.fontWeight700{
  font-weight: 700;
}
.fontWeight800{
  font-weight: 800;
}
.fontWeight900{
  font-weight: 900;
}